@import url("../../utils/animations.scss");

#search-container{
    min-height: 65vh;
}

#ultra-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

input{
    background-color: #795a77;
    height: 50px;
    border-radius: 20px;
    color: rosybrown;
    padding-left: 40px;
}

#input-container{
    position: relative;
    color: rosybrown;
}

#input-container i{
    position: absolute;
    top: 17px;
    left: 15px;
}

#searching{
    width: 95%;
    margin-top: 100px;
    border-radius: 10px;
}

article img{
    width: 100%;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}