<div class="row" id="search-container">
    <div id="ultra-container">
        <div id="input-container">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Busca tu artista" [(ngModel)]="busqueda" (ngModelChange)='handleChange()' >
        </div>
        <img src="../../../assets/search.jpeg" alt="searh" *ngIf="!matched.length" id="searching" class="fade-in">
    </div>
    <div id="results">
        <article *ngFor="let item of matched" class="row fade-in">
            <div class="col-md-4 offset-md-1">
                <img [src]="item.image" alt="profile">
            </div>
            <div class="col-md-5 text-container">
                <h4>{{item.name}}</h4> 
                <p>{{item.desc}}</p>
            </div>
        </article>
    </div>
</div>