img{
    width: 100%;
}

#texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#texto h4{
    text-align: center;
}

#texto input{
    background-color: #795a77;
    height: 50px;
    border-radius: 20px;
    color: rosybrown;
    padding-left: 40px;
}

#input-container{
    position: relative;
    color: rosybrown;
}

#input-container i{
    position: absolute;
    top: 17px;
    left: 15px;
}


@media (max-width: 768px){
    #texto{
        margin-bottom: 20px;
        height: 350px;
        background-image: url('../../../assets/home-character.png');
        background-size: cover;
        color: rosybrown;
    }
    #texto h4{
        font-size: 19px;
        margin-bottom: 30px;
    }
}