<div id="home" class="row">
    <div class="d-none d-md-block col-md-5 offset-md-1">
        <img src="../../assets/home-character.png" alt="artist">
    </div>

    <div class="col-10 offset-1 col-md-5 offset-md-0" id="texto">
        <h4>
            "Los artistas conceptuales son <strong>místios</strong> más que racionalistas.
            Llegan a concluciones a las que no llega la lógica" - Sol Lewitt.
        </h4>
        <div id="input-container">
            <i class="fas fa-search"></i>
            <input type="text" (click)="onClick()" >
        </div>
    </div>
</div>