@import url("../../utils/animations.scss");

img{
    width: 100%;
    height: 100%;
    z-index: 1;
}

article{
    height: 100%;
    position: relative;
}

.pantalla{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text h5{
    font-weight: bold;
}

.hidden{
    display: none !important;
}