<article (mouseenter)="hover()" (mouseleave)="leaves()">
    <img [src]="imgsrc" alt="news">
    <div [ngClass]="{pantalla:true, hidden:!show, 'fade-in':true}"></div>
    <div [ngClass]="{text:true, hidden:!show, 'fade-in':true}">
        <h5>{{title}}</h5>
        <p>{{resume}}</p>
    </div>
</article>