<div id="news">
    <div class="row">
        <div class="col-12 col-lg-4 column">
            <h2>News</h2>
            <app-news-article [title]="news[0].title" [imgsrc]="news[0].image" [resume]="news[0].resume"></app-news-article>
        </div>
        <div class="col-12 col-lg-4 column">
            <app-news-article [title]="news[1].title" [imgsrc]="news[1].image" [resume]="news[1].resume"></app-news-article>
            <app-news-article [title]="news[2].title" [imgsrc]="news[2].image" [resume]="news[2].resume"></app-news-article>
        </div>
        <div class="col-12 col-lg-4 column">
            <app-news-article [title]="news[3].title" [imgsrc]="news[3].image" [resume]="news[3].resume"></app-news-article>
        </div>
    </div>
</div>