
#news{
    margin: 50px;
}

#news .column{
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#news h2{
    margin: 15px;
    text-align: center;
}