
@import url('../../utils/animations.scss');

#text-container{
    text-align: center;
}

#text-container h4{
    margin-bottom: 40px;
}


#featured-artists{
    padding: 40px 0px;
}

#image-container, #text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    margin-top: 40px;
}

#image-container img{
    width: 300px;
    height: 300px;
}

.ball{
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50px;
    cursor: pointer;
}

#ball-container{
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.black{
    background-color: black;
}

.read-more{
    margin-top: 20px;
    color: gray;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 5px 40px;
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 768px){
    #text-container{
        font-size: 15px;
    }   
}