<section id="featured-artists" class="row">
    <div class="col-md-5 offset-md-1" id="image-container">
        <img [src]="destacados[index].image" alt="profile" [ngClass]="{fadeInLeft:animate}">
        <div id="ball-container">
            <div [ngClass]="{ball:true, black:index==0}" (click)="changeIndex(0)" ></div>
            <div [ngClass]="{ball:true, black:index==1}" (click)="changeIndex(1)" ></div>
            <div [ngClass]="{ball:true, black:index==2}" (click)="changeIndex(2)" ></div>
            <div [ngClass]="{ball:true, black:index==3}" (click)="changeIndex(3)" ></div>
        </div>
    </div>
    <div class="col-md-5" id="text-container">
        <h4>{{destacados[index].name}}</h4>
        <p [ngClass]="{fadeInLeft:animate}">{{destacados[index].desc}}</p>
        <div class="read-more" (click)='handleRedirect()'>Read more</div>
    </div>
</section>