@import "./utils/colors.scss";

nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li{
    margin: 40px 20px;
}

nav ul li a{
    color: black;
    font-weight: bold;
    border-bottom: 3px solid white;
    font-size: 24px;
}

nav ul li a:hover{
    border-bottom: 3px solid $blue-gas;
    text-decoration: none;
}

footer{
    height: 200px;
    background-color: black;
}

@media (max-width: 768px){
    nav ul li a{
        font-size: 15px;
    }

    nav ul li{
        margin: 40px 5px;
    }
}