<div class="container">
  
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a [routerLink]="['/','art']">Artists</a></li>
      <li><a [routerLink]="['/','news']">News</a></li>
      <li><a routerLink="/team">Team</a></li>
      <li><a routerLink="/about">About</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

  <footer></footer>
</div>