#profile-image{
    width: 100%;
}

#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info h1{
    margin-bottom: 40px;
}

#info-container{
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

#works-title{
    text-align: center;
    margin: 85px;
    text-decoration: underline black;
}

.work{
    margin: 40px;
}

.work img{
    width: 100%;
}

@media(max-width: 768px){
    .work{
        text-align: center;
    }
}