
<div id="artist-page">
    <div class="row" id="info-container">
        <div class="col-12 col-md-4 offset-md-2">
            <img [src]="artist.image" alt="" id="profile-image">
        </div>
        <div class="col-12 col-md-5" id="info">
            <h1>{{artist.name}}</h1>
            <p>{{artist.desc}}</p>
        </div>
    </div>

    <div id="obras-container">
        <h2 id="works-title">Obras</h2>
        <div class="row work" *ngFor='let item of works'>
            <div class="col-12 col-md-5 offset-md-1">
                <img [src]="item.link" [alt]="item.titulo">
            </div>
            <div class="col-12 col-md-5">
                <h2>{{item.titulo}}</h2>
                <p>{{item.descripcion}}</p>
            </div>
        </div>
    </div>

</div>